<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <p>
        Name: {{person.myself.username}}
    </p>
    <p>
        Password: {{person.password}}
    </p>
    <p>
        Number: {{person.phone}}
    </p>

    <form action="/" method="post">
        {% csrf_token %}
        {{form}}
        
        <button type="submit">Send</button>
    </form>
    
    
    <style>
        body{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</body>
</html>